.add-file {
  position: absolute;
  top: -160px;
  left: -5px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
  border-radius: 12px;
  height: max-content;
  width: 165px;
}

.add-file__option {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
