<div class="add-file">
    <div class="add-file__option">{{> IconButton buttonIcon="{{ import('/src/assets/icons/photoVideo.svg') }}" }}<p>Фото или
        Видео</p></div>
    <div class="add-file__option">{{> IconButton buttonIcon="{{ import('/src/assets/icons/file.svg') }}"}}<p>Файл</p></div>
    <div class="add-file__option">{{> IconButton buttonIcon="{{ import('/src/assets/icons/location.svg') }}" }}<p>Локация</p></div>
</div>
