<div class="container">
    <form class="login-form">
        <h1 class="login-title">Вход</h1>
        <div class="login-input-group">
        {{> Input label="Логин" placeholder="Логин"}}
        {{> Input label="Пароль" placeholder="Пароль" type="password"}}
        </div>
        {{> Button label="Авторизироваться" type="primary" }}
        {{> Button label="Нет аккаунта?" type="link" }}
    </form>
</div>