.container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 30px;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
}

.login-input-group {
  margin-bottom: 154px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.login-title {
  margin-bottom: 57px;
}
