@import '../../../shared/constants/constants';

.user-profile__go-back {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 64px;
  background: $secondary-gray;
}
