<div class="modal-overlay">
    <div class="modal">
        <h2 class="modal__title">Удалить пользователя</h2>
        <form>
            {{> Input type="text" label="Логин"}}
            {{> Button label="Добавить" type="primary" }}
        </form>
    </div>
</div>