.user-profile-edit__grid {
  min-width: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-items: center;
}

.user-profile-edit__container {
  margin-top:162px;
  width:280px;
}
