<div class="user-profile__container">
    {{> UserProfileGoBack }}
    <section class="user-profile__password-edit">
        {{> UserProfileTitles name="Иван"}}
        <form class="user-profile-password-edit__grid">
            {{> UserProfileInputElement label="Старый пароль" placeholder="************" disabled=false type="password" name="oldPassword"}}
            {{> UserProfileInputElement label="Новый пароль" placeholder="************" disabled=false type="password" name="newPassword"}}
            {{> UserProfileInputElement label="Повторите новый пароль" placeholder="************" disabled=false type="password" name="newPassword"}}
        </form>
        <div class="user-profile-password-edit__container">
        {{> Button type="primary" label="Сохранить"}}
        </div>
    </section>
</div>

