.friend-controls {
  position: absolute;
  bottom: -120px;
  left: -180px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
  border-radius: 12px;
  width: max-content;
  height: 90px;
  justify-content: center;
}

.friend-controls__option {
  display: flex;
  gap: 15px;
  align-items: center;
}
