<div class="friend-controls">
    <div class="friend-controls__option">           {{> IconButton buttonIcon=plusIcon }}<p>Добавить пользователя</p>
    </div>
    <div class="friend-controls__option">{{> IconButton buttonIcon=deletIcon }}<p>Удалить пользователя</p></div>
</div>
