<div class="friend-controls">
    <div class="friend-controls__option">           {{> IconButton buttonIcon="./src/assets/icons/plusIcon.svg" }}<p>Добавить пользователя</p></div>
    <div class="friend-controls__option">{{> IconButton buttonIcon="./src/assets/icons/deletIcon.svg" }}<p>Удалить пользователя</p></div>
</div>
