.chatCard {
  display: flex;
  padding: 12px 0;
  fill: #efefef;
  border-top: solid 1px rgba(234, 234, 234, 1);
}

.chatCard__avatar {
  margin-right: 10px;
}

.chatCard__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 4px;
}

.chatCard__titles {
  display: flex;
  gap: 3px;
}

.chatCard__notifications {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatCard__notification-container {
  display: flex;
  width: 20px;
  justify-content: center;
  align-items: center;
  height: 20px;
  background: $secondary;
  border-radius: 50%;
}

.chatCard__notification-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 109%;
  text-align: center;
  color: $primary;
}
