@import '../../../shared/constants/constants';

.user-profile_input {
  border: none;
  padding: 0%;
  font-size: 13px;
  font-weight: 500;
  text-align: end;
  background-color: inherit;
}

.user-profile_input:focus {
  outline: none;
}

.user-profile_input::placeholder {
  color: $text-secondary;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}