<section class="user_profile__title">
    <button class="user-profile_button">
        <div class="overlay"></div>
        <img class="user-profile__picture" alt="изображение профиля" src={{profilePicture }}} >
        <p class="text-overlay">Поменять аватар</p>
    </button>
    <h1>{{name }}}</h1>
</section>


