.contact-list {
  min-width: 310px;
  background: $primary-background;
  border-right: solid 1px $border-primary;
  padding: 10px;
  max-height: 100%;
  overflow-y: scroll;
}

.contact-list__profile-link {
  text-align: right;
  margin: 23px 0;
  display: block;
}

.contact-list__search-input {
  border-radius: 5px;
  width: 260px;
  height: 32px;
  background: #efefef;
  border: none;
}

.contact-list__search-input:focus {
  outline: none;
}

.contact-list__search-input::placeholder {
  color: $text-secondary;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

