<div class="chatCard">
    {{> ChatAvatar }}
    <div class="chatCard__info">
        <h2>Андрей</h2>
        <div class="chatCard__titles">
        <p>Вы: <small>стикер</small></p>
        </div>
    </div>
    <div class="chatCard__notifications">
        <small>10:49</small>
        <div class="chatCard__notification-container"><small class="chatCard__notification-text">2</small></div>
    </div>
</div>