<div class="add-file">
    <div class="add-file__option">{{{ IconButton buttonIcon=photoVideoIcon  }}}<p>Фото или
        Видео</p></div>
    <div class="add-file__option">{{{ IconButton buttonIcon=fileIcon  }}}<p>Файл</p></div>
    <div class="add-file__option">{{{ IconButton buttonIcon=locationIcon }}}<p>Локация</p></div>
</div>
