.add-file {
  position: absolute;
  top: -120px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 14%);
  background: $primary;
  border-radius: 12px;
  height: max-content;
  width: 165px;
}

.add-file__option {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
